/* Profile Page Styling */
.profile-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--background1);
  min-height: 100vh;
}

.profile-page-container h1 {
  font-size: 2rem;
  color: var(--brand);
  margin-bottom: 1rem;
}

/* Profile Component Styling */
.profile-details {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  /* text-align: center; */
}

.profile-details img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-details p {
  font-size: 1rem;
  color: var(--brand);
  margin: 0.5rem 0;
  text-align: left;
  background-color: var(--background1);
  font-weight: bold;
}

.profile-details strong {
  color: var(--brand);
  text-align: left;
}
.milestones p {
  color: var(--brand);
}
.milestones {
  color: var(--brand);
  font-size: 16px;
}
.achievements p {
  color: var(--brand);
}
.achievements {
  color: var(--brand);
  font-size: 16px;
}
/* Authenticated User Details */
.authenticated-details {
  margin-top: 2rem;
  text-align: left;
}

.authenticated-details h3 {
  color: var(--brand);
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

/* Learn More Button */
.learn-more-btn {
  margin-top: 1rem;
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--action);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learn-more-btn:hover {
  background-color: var(--secondarybrand);
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-details {
    width: 90%;
  }

  .profile-details img {
    width: 120px;
    height: 120px;
  }
}