@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

header {
    font-size: 3rem; /* Large text */
    font-weight: bold; /* Bold text */
    color: #2f4f2f; /* Dark green color */
    text-align: center; /* Center align */
    background: linear-gradient(90deg, #50c878, #a2d5ab); /* Gradient background */
    background-clip: text; /* Clip gradient to text */
    -webkit-text-fill-color: transparent; /* Make the gradient visible */
    margin: 20px 0; /* Space around the h1 */
    padding: 10px 0; /* Space inside the h1 */
    border-bottom: 2px solid #50c878; /* Add a pastel green underline */
    text-transform: uppercase; /* Uppercase letters */
    letter-spacing: 2px; /* Add spacing between letters */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color: #eafaf1; /* Light pastel green background */
    color: #2f4f2f; /* Darker green for text */
    line-height: 1.6;
    box-sizing: border-box;
    text-align: center;

    
  }